.home{
    
    position: relative; 
    height: 100vh;
    width: 100%;
}
@font-face {
    font-family: pop;
    src: url(../Poppins-Regular.ttf);
  }
  @font-face {
    font-family: bal;
    src: url(../Baloo-Regular.ttf);
  }
.home::before{
    content: "";
      background-image: url('../Image/shaft.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.65;
}
.h1{
    position: relative; 
  line-height: 0.9;
  text-align: center;
  padding:100px 20px; 
}
.h1 h1{
    font-family:bal;
    font-size: 50px;
    color:rgb(198, 21, 104);
    background-color: rgba(214, 214, 214, 0.396);
    display:inline;
    border-bottom:5px solid black;
}
.list{
    width: 450px;
    margin: auto;
}
.list h4{
    font-family:pop;
    color:rgb(238, 31, 31);
    font-size:30px;
    font-weight:bold;
}
.list li{
    font-family:pop;
    font-weight:bold;
    font-size:20px;
    margin-top: 20px;
}
h3{
    font-family:pop;
    font-weight:bold;
    color:rgb(0, 45, 70);
    margin-top: 80px;
    font-size: 25px;
}
button{
    outline:none;
    font-family: bal;
    font-weight:bold;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    font-size:18px;
    background-color:yellow;
    color:deepskyblue;
    border:2px solid;
    cursor:pointer;
}
button:hover{
    background-color:greenyellow;
}